<nav>
    <div class="site-title">
        <a href="/"><h1>WIKI FIGURES</h1></a>
        <p>A DATABASE FOR FIGURES LOVERS</p>
    </div>
    <ul>

                
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/OriginalHome">Tác phẩm</a></li> 
                <li><a href="/artistsHome">Nhà thiết kế</a></li>
                <li><a href="/charactersHome">Nhân vật</a></li>
                <li><a href="/CompaniesHome">Nhãn hiệu</a></li>
                
        <!-- <li><a href="/blog/create">New Blog</a></li> -->

    </ul>
</nav>