<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/login.css">
</head>

<body>
    <!-- <input type="text" id="username-input">
    <input type="password" id="pass-input">
    <button onclick="handleLogin()" id="button-login">Login</button> -->
    <section class="portal">
        <form action="#">
            <div class="tittle">
                <h1>Login</h1>
                <p></p>
            </div>
            <button id="google-signin">
            <img src="/assets/google-logo.svg" alt=""> Login with google
            </button>
            <span>or</span>
            <div class="input-field">
                <input type="text" id="username" placeholder="">
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" placeholder="" required>
                <label for="password">Password</label>
                <img id="show-passs" src="/assets/show-eye.svg" alt="">
            </div>
            <a href="#" id="forgot-pass">Forgot Password</a>
            <button id="signin">Sign in</button>
            <p id="sign-up">
                Don's have account?
                <a href="#">Sign up here</a>
            </p>
        </form>
    </section>
</body>

</html>