<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
    <input type="text" id="username-input">
    <input type="password" id="pass-input">
    <button onclick="handleRegister()" id="button-login">Register</button>
</body>
<script>
    var AccountModel = require('./models/account')
    app.use(bodyParser.urlencoded({
        extended: false
    }))
    app.use(bodyParser.json())
    app.post('/register', (req, res, next) => {
        function handleRegister() {
            AccountModel.findOne({
                username: username
            }).then(data => {
                if (data) {
                    res.json("Username đã tồn tại")
                } else {
                    return AccountModel.create({
                        username: username,
                        password: password
                    })
                }
            }).then(data => {
                res.json("Tạo tài khoản thành công")
            }).then(data => {
                window.location.href = "/login";
            }).catch(Err => {
                res.status(500).json("Tạo tài khoản thất bại")
            })
            document.onkeypress = function(myEvent) {
                if (myEvent.which == 13) {
                    handleRegister()
                }
            }
        }
    })
</script>

</html>